@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

}
    /* color: var(--Strong-Cyan); */

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Public Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    color: #9698a6;
    line-height: 1.3;
    overflow-x: hidden;   
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: var(--Light-Grayish-Blue);
}

nav ul{
    display: flex;
    justify-content: space-between;
}

.hamburger{
    display: none;
}

nav ul li{
    list-style: none;
    padding: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: var(--Grayish-Blue);
    font-weight: 600;
    font-size: 14px;
}

nav ul li a:hover{
    color: #9a6;
    padding-bottom: 20px;
    border-bottom: 3px solid var(--Lime-Green);
}

.btn{
    background:linear-gradient(45deg,var(--Lime-Green) ,var(--Bright-Cyan) );
    padding:10px 20px;
    border: none;
    border-radius: 30px;
    color: var(--White);
    font-weight: bold;
    transition: all 3ms ease-in-out;
}

.btn:hover{
    background:linear-gradient(45deg ,var(--Bright-Cyan),var(--Lime-Green)  );
}

/* NAV BAR ENDS HERE */

.front-page{
    height:80vh;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left: 100px;
}

.text-flex{
    width: 50%;
    height: 50%;
    text-align: left;

}

.text-flex > h1{
    font-size: 3rem;
    font-weight: 1,2;
    line-height: 50px;
    padding-bottom: 50px;
    color: var(--Dark-Blue);
}

.text-flex > p{
    padding-bottom: 50px;
    line-height: 25px;
    font-weight: bold;

}

.img-flex{
    position: relative;
    top: -20%;
    right: -10%;

}

.img-one-flex{
    background-image: url('images/bg-intro-desktop.svg');
    width: 50rem;
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;

}

.img-two-flex{
    width: 50rem;
    height: 60rem;
    background-image: url('images/image-mockups.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 5%;
    right: -10%;
    transform: scale(90%);
}

.front-btn{
    padding: 15px;
}

/* FRONT PAGE ENDS HERE */

.second-page{
    background-color: var(--Light-Grayish-Blue);
    padding:40px 0 30px 100px;
    height: 50vh;
}

.second-page > h1{
    padding-bottom: 20px;
    color: var(--Dark-Blue);
    font-weight: 600;

}

.reasons{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.reasons div{
    margin: 30px;
    align-self: center;
}

.reasons div img{
    text-align: center;
}

.reasons h1{
    font-size:18px;
    line-height: 40px;
    color: var(--Dark-Blue);
}

/* SSECOND PAGE ENDS HERE */

.article{
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 50px;
}   

.article > h2{
    color:var(--Dark-Blue);
    font-size:28px;
    line-height: 40px;
}

.article-note{
    background-color: var(--Light-Grayish-Blue);
    margin: 5px;
}

.plane , 
.confetti ,
.currency , 
.restaurant{
    height: 25vh;
    width: 33vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.restaurant{
    background-image: url('images/image-restaurant.jpg');
}

.currency{
    background-image: url('images/image-currency.jpg');
}

.plane{
    background-image: url('images/image-plane.jpg');
}

.confetti{
    background-image: url('images/image-confetti.jpg');
}

.article-detail{
    display: flex;
    justify-content: center;
    align-items: top;
}

.article-note .article-img{
    padding-top: -100px;
    
}

/* ARTICLE ENDS HERE */

footer{
    height: auto;
    width: 110vw;
    padding: 30px;
    background-color: #9698a6;
    background-color: var(--Dark-Blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.footer a{
    padding-left: 20px;
}

.footer ul li{
    list-style: none;
    padding-bottom: 10px;

}    

.first{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}

.first div{
    padding: 42px 0 0 0;
}

.footer ul li a{
    text-decoration: none;
    color: unset;
    font-weight: 600;
}

.footer ul li a:hover{
    text-decoration:underline;
    color: blue;

}

.third{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
}

.third p{
    padding-top: 40px;
}

@media (max-width:700px) {
    nav ul , nav .btn{
        display: none;
    }

    nav ul.active{
        position: absolute;
        top: 130%;
        left: 0%;
        right:-20%;
        margin: 0 50px 0 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: var(--White);
        width: 100vw;
        box-shadow: 3px 6px 5px;
        opacity: 1;
    }

    nav ul li{
        padding: 30px;

    }

    .hamburger{
        display: block;
        transform: translateX(120px);
    }

    .hamburger:hover{
        background-color: var(--Lime-Green);
        padding: 20px;
        border-radius: 50%;
    }

    .front-page{
        flex-direction: column-reverse;
        margin-left: 10px;

    }

    .text-flex{
        width: 100vw;
        text-align: center;
        margin-bottom: 400px;

    }

    .text-flex p{
        margin: 0 40px;
    }

    .img-flex{
        position: relative;
        top:40%;
        right: 0%;
        margin-bottom: 200px;
    }

    .img-one-flex{
        background-image: url('images/bg-intro-mobile.svg');
        width: 100vw;
    }

    .img-two-flex{
        width: 100vw;
        height: 60rem;
        background-image: url('images/image-mockups.png'); 
        top: 0%;
        left: 5%;
    }

    .front-btn {
        margin-bottom: 100px;
    }

    .second-page{
        margin-top: 70px;
        text-align: center;
        height: 120vh;
    }
    .reasons{
        flex-direction: column;
    }
    /* ARTICLES */

    .article-detail{
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    
    .article-detail div{
        padding: 30px;
    }

    .article h2{
        text-align: center;
        color: red;
        /* margin-bottom: 40px; */
    }
    
    .article{
        margin-right: 100px;
        transform: translateX(50px);
    }   

    footer{
        flex-direction: column;
    
    }

}